<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body ng-controller="MyAppCtrl as ctrl" ng-cloak>
    <div class="container">
        <div ng-hide="ctrl.completedRegistration || ctrl.submissionError">
            <div class="page-header">
                <h2>User Registration</h2>
            </div>

            <!-- progress bar for user to visually gauge on form completion -->
            <!-- it will only show up after the age check -->
            <div class="progress" ng-show="ctrl.isAtLeast18()">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ctrl.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ctrl.progress}}%">
                    {{ctrl.progress}}%
                </div>
            </div>

            <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.submitForm()" novalidate>
                <!-- show a message for the age check -->
                <!-- will be removed upon age check -->
                <div ng-hide="ctrl.isAtLeast18()">
                    <p class="bg-primary text-center"> Registrant must be at least 18 years old.</p>
                    Please input your birthday to proceed.
                </div>

                <div class="form-group">
                    <label>Date of Birth <span class="glyphicon glyphicon-ok text-success" ng-show="ctrl.isAtLeast18()"></span></label>
                    <input name="dob" type="date" class="form-control" ng-model="ctrl.user.dob" required />
                    <div data-ng-show="registrationForm.dob.$touched || registrationForm.$submitted">
                        <div class="validation" data-ng-show="ctrl.isAtLeast18() == false">
                            <span class="glyphicon glyphicon-alert"></span> Registrant must be at least 18 years old
                        </div>
                    </div>
                </div>

                <div ng-show="ctrl.isAtLeast18()">

                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" ng-change="ctrl.setProgress(20)" type="text" class="form-control" ng-model="ctrl.user.name" required/>
                        <div data-ng-show="registrationForm.name.$touched || registrationForm.$submitted">
                            <div class="validation" data-ng-show="registrationForm.name.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Name is mandatory.
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="registrationForm.name.$error.required">
                        <label>Gender</label>
                        <br/>
                        <label class="radio-inline">
                                <input name="gender" type="radio" ng-change="ctrl.setProgress(30)" value="M" ng-model="ctrl.user.gender" required/> Male
                            </label>

                        <label class="radio-inline">
                                <input name="gender" type="radio" ng-change="ctrl.setProgress(30)" value="F" ng-model="ctrl.user.gender" required/> Female
                                                    </label>

                    </div>

                    <div class="form-group" ng-hide="registrationForm.gender.$error.required">
                        <label>Email <span class="glyphicon glyphicon-ok text-success" ng-hide="registrationForm.email.$error.required || registrationForm.$error.email"></span></label>
                        <input name="email" ng-change="ctrl.setProgress(40)" type="email" placeholder="Example: you@domain.com" class="form-control"
                            ng-model="ctrl.user.email" required/>
                        <div data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                            <div class="validation" data-ng-show="registrationForm.email.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                            </div>
                            <div class="validation" data-ng-show="registrationForm.$error.email">
                                <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                            </div>
                        </div>
                    </div>


                    <div class="form-group" ng-hide="registrationForm.email.$error.required || registrationForm.$error.email">
                        <label>Contact number <span class="glyphicon glyphicon-ok text-success" ng-hide="registrationForm.contact.$error.required || registrationForm.contact.$error.minlength || registrationForm.contact.$error.pattern"></span></label>
                        <!-- regex from https://stackoverflow.com/a/20971688 -->
                        <input name="contact" type="text" ng-change="ctrl.setProgress(50)" class="form-control" ng-model="ctrl.user.contact" required
                            minlength="8" ng-pattern="/^(?:(?:\(?(?:00|\+)([1-4]\d\d|[1-9]\d?)\)?)?[\-\.\ \\\/]?)?((?:\(?\d{1,}\)?[\-\.\ \\\/]?){0,})(?:[\-\.\ \\\/]?(?:#|ext\.?|extension|x)[\-\.\ \\\/]?(\d+))?$/i"
                        />
                        <div data-ng-show="registrationForm.contact.$touched || registrationForm.$submitted">
                            <div class="validation" data-ng-show="registrationForm.contact.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Contact is required.
                            </div>
                            <div class="validation" data-ng-show="registrationForm.contact.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Contact should be at least 8 digits long.
                            </div>
                            <div class="validation" data-ng-show="registrationForm.contact.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Contact number should not contain invalid
                                characters other than digits and +,() for country code
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="registrationForm.contact.$error.required || registrationForm.contact.$error.minlength || registrationForm.contact.$error.pattern">
                        <label>Password <span class="glyphicon glyphicon-ok text-success" ng-show="ctrl.isPasswordConfirmed()"></span></label>
                        <input name="password" type="password" ng-change="ctrl.setProgress(60)" class="form-control" ng-model="ctrl.user.password"
                            required minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                        <div data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                            <div class="validation" data-ng-show="registrationForm.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required.
                            </div>
                            <div class="validation" data-ng-show="registrationForm.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long.
                            </div>
                            <div class="validation" data-ng-show="registrationForm.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include at least one number,
                                a special character and a upper and lowercase.
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="registrationForm.password.$error.required || registrationForm.password.$error.minlength || registrationForm.password.$error.pattern || ctrl.isPasswordConfirmed()">
                        <label>Confirm Password</label>
                        <input name="password2" type="password" ng-change="ctrl.setProgress(80)" class="form-control" ng-model="ctrl.user.password2"
                            required />
                        <div data-ng-show="registrationForm.password2.$touched || registrationForm.$submitted">
                            <div class="validation" data-ng-show="registrationForm.password2.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required.
                            </div>
                            <div class="validation" data-ng-show="ctrl.user.password != ctrl.user.password2">
                                <span class="glyphicon glyphicon-alert"></span> Passwords do not match.
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ctrl.isPasswordConfirmed()">
                        <label>Address</label>
                        <input name="address" type="text" ng-change="ctrl.setProgress(90)" class="form-control" ng-model="ctrl.user.address" required
                        />
                        <div data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                            <div class="validation" data-ng-show="registrationForm.address.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Address is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="registrationForm.address.$error.required">
                        <label>Country</label>
                        <select class="form-control" ng-change="ctrl.setProgress(100)" ng-model="ctrl.user.country" required>
                        <option value="{{country}}" ng-repeat="country in ctrl.countries">{{country}}</option>
                    </select>
                    </div>

                    <!-- this will show up only when the form is completed correctly -->
                    <div class="form-group" ng-show="registrationForm.$valid">
                        <div class="alert alert-info alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Form completed!</strong> Hi
                            <mark>{{ctrl.user.name}}</mark>, you may proceed to submit once you had verified that the completed
                            particulars are correct.
                        </div>

                        <input type="submit" class="btn btn-primary" ng-disabled="!registrationForm.$valid">
                    </div>

                </div>
            </form>
        </div>
        <div ng-show="ctrl.completedRegistration">
            <div class="page-header">
                <h2>Acknowledgement</h2>
            </div>

            <span class="bg-success lead" style="padding:16px;">
                    Thanks <mark>{{ ctrl.user.name }}</mark> for your registration.
            </span>
        </div>
        <div ng-show="ctrl.submissionError">
            <div class="page-header">
                <h2>Submission error</h2>
            </div>

            <span class="bg-danger" style="padding:16px;">
                Something went wrong with the submission to server, please contact the developer... <br>
            </span>
        </div>
    </div>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
</body>

</html>